@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body {
  padding: 10px;
  font-family: 'Inconsolata', monospace;
  background-color: #fff;
}



  /* DARK THEMA */

  body.light {
    background-color: #fff;
    color: #111;
  }

  body.dark {
    background-color: #222;
    color: #fff;
    border-color: #fff;
  }

  /* Back to top */

  .back-to-top-button {
    /*  background-color: #555; */
     color: #fff;
     border: none;
     border-radius: 1px;
     cursor: pointer;

   }

   .back-to-top-button:hover {
     /* background-color: #666; */
     font-size: 18px;
     transform: scale(1.05);
     transition: 0.5s ease-out;
   }

   .light-icon::before {
     content: "\1F31E";
   }

   .dark-icon::before {
     content: "\1F319";
   }

   /* ANIMATION */

.text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 1px solid red;
    font-size: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.animation{
  animation: typewriter 4s steps(20) 1s infinite both,
             blinkCursor 600ms steps(20) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

/* @keyframes blinkCursor{
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
 */

/* IMG */


.main-img:hover{
  margin-left: -10px;
  transform: translate(-8px,-16px)rotate(3deg);
  filter: drop-shadow(1px 1px 1px red);
}

.mini-img:hover{
  filter: drop-shadow(2px 2px 2px red);
}

.project-img{
  width: 400px;
  height: 500px;
}

.lane:hover{
  filter: drop-shadow(3px 2px 2px rgb(196, 196, 20));
}

.docs:hover{
  filter: drop-shadow(2px 2px 2px rgb(109, 175, 167));
}
/* BACK TO TOP */

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 1px;
  font-size: 36px;
  color: red;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.back-to-top-button:hover {
  opacity: 1;
  font-size: 36px;
}

